@media screen and (max-width: 992px) and (min-width: 576px) {
  /* nav start */

  nav {
    margin: 20px 30px;
    margin-top: 30px;
  }


  /* nav end */

  /* banner start */
  .banner {
    flex-direction: column;
    align-items: start;
    /* margin-bottom: 30px; */
  }

  .banner-text {
    max-width: 100%;
    margin-left: 80px;
  }

  .banner-text h2 {
    font-size: 50px;
  }

  .banner-text p {
    margin-top: 10px;
    font-size: 18px;
    /* width: 100%; */
  }

  .banner-text .miama {
    font-size: 60px;
  }

  .primary-btn {
    padding: 16px;
    font-size: 15px;
  }
  .secondary-btn {
    padding: 16px;
    font-size: 15px;
  }

  .banner-image {
    margin-top: 32px;
    position: relative;
    margin: 0 auto;
    /* margin-left: 40px; */
  }

  .item-1 {
    position: absolute;
    top: 70px;
    left: 200px;
  }

  .item-2 {
    position: absolute;
    bottom: 250px;
    left: -20px;
  }

  /* banner end */
}

@media screen and (max-width: 576px) {
  /* nav start */
  nav {
    margin: 20px 20px;
  }
  .nav-menu {
    flex-direction: column;
    display: none;
  }

  .nav-icon {
    display: block;
  }

  /* nav end */

  /* banner start */
  .banner {
    flex-direction: column;
    align-items: start;
    margin: 20px 20px;
  }

  .banner-text {
    margin-top: 26px;
    max-width: 100%;
  }

  .banner-text h2 {
    font-size: 50px;
  }

  .banner-text p {
    margin-top: 10px;
    font-size: 18px;
  }

  .banner-text .miama {
    font-size: 30px;
  }

  .primary-btn {
    padding: 16px;
    font-size: 15px;
  }
  .secondary-btn {
    padding: 16px;
    font-size: 15px;
  }

  .banner-image {
    margin-top: 32px;
    margin-left: 40px;
    position: relative;
  }

  .item-1 {
    position: absolute;
    top: 70px;
    left: 200px;
  }

  .item-2 {
    position: absolute;
    bottom: 250px;
    left: -20px;
  }

  /* banner end */
}
