@media screen and (max-width: 992px) {
  /* nav start */

  nav {
    margin: 20px 40px;
  }

  .nav-menu {
    display: none;
  }

  .nav-icon {
    display: block;
  }

  /* nav end */

  /* banner start */
  .banner {
  }
  .banner-text {
    /* width: 100%; */
  }

  .banner-image {
    flex-direction: column;
  }

  /* banner end */
}

@media screen and (max-width: 576px) {
  /* nav start */
  nav {
    margin: 20px 20px;
  }
  .nav-menu {
    flex-direction: column;
    display: none;
  }

  .nav-icon {
    display: block;
  }

  /* nav end */

  /* banner start */
  .banner {
    flex-direction: column;
    align-items: start;
    /* padding: 10px; */
    margin: 20px 20px;
  }

  .banner-text {
    margin-top: 26px;
    max-width: 100%;
  }

  .banner-text h2 {
    /* margin: 0; */
    font-size: 50px;
  }

  .banner-text p {
    margin-top: 10px;
    font-size: 18px;
  }

  .banner-text .miama {
    font-size: 30px;
  }

  .banner-button {
    /* padding: 10px; */
  }

  .primary-btn {
    padding: 16px;
    font-size: 15px;
  }
  .secondary-btn {
    padding: 16px;
    font-size: 15px;
  }

  .banner-image {
    /* width: 50%; */
    margin-top: 32px;
    margin-left: 40px;
    position: relative;
  }

  .item-1 {
    /* text-align: left; */
    position: absolute;
    top: 70px;
    left: 200px;
    /* padding: 16px; */
  }

  .item-2 {
    position: absolute;
    bottom: 250px;
    left: -20px;
  }

  /* banner end */
}
