@media screen and (max-width: 576px) {
  /* nav start */
  nav {
    margin: 20px 20px;
  }
  .nav-menu {
    flex-direction: column;
    display: none;
  }

  .nav-icon {
    display: block;
  }

  /* nav end */

  /* banner start */
  .banner {
    flex-direction: column;
    align-items: start;
    margin: 20px 20px;
  }

  .banner-text {
    margin-top: 26px;
    max-width: 100%;
  }

  .banner-text h2 {
    font-size: 35px;
  }

  .banner-text p {
    margin-top: 10px;
    font-size: 18px;
    width: 274px;
  }

  .banner-text .miama {
    font-size: 30px;
  }

  .primary-btn {
    padding: 16px;
    font-size: 15px;
  }
  .secondary-btn {
    padding: 16px;
    font-size: 15px;
  }

  .banner-image {
    margin-top: 32px;
    margin-left: 40px;
    position: relative;
  }

  .item-1 {
    position: absolute;
    top: 70px;
    left: 200px;
  }

  .item-2 {
    position: absolute;
    bottom: 250px;
    left: -20px;
  }

  /* banner end */

  /* habit start */

  .habit-container {
    margin-top: 30px;
  }

  .habit-title {
    width: 100%;
    margin: 0 auto;
  }

  .h-title {
    font-size: 30px;
  }

  .h-description {
    width: 300px;
  }

  .habit-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .box-content p {
    width: 220px;
    align-items: center;
    margin-bottom: 20px;
  }
  /* habit end */

  /* run section start */

  .run-container {
    width: 90%;
    flex-direction: column;
  }

  .run-content {
    width: 100%;
    padding: 41px;
  }

  .run-content h3 {
    font-size: 38px;
    width: 100%;
  }

  .run-content p {
    max-width: 100%;
    width: 300px;
  }

  .run-btn {
    width: 90%;
    margin: 0 auto;
  }

  .run-image img {
    /* width: 100%; */
    flex-direction: row;
    object-fit: cover;
  }

  .run-image {
    /* margin: 0 auto; */
    /* width: 50%; */
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
  }

  /* run section end */

  /* bmi start */
  .bmi-calculator-1 {
    display: flex;
    justify-content: flex-start;
    /* text-align: center; */
    align-items: flex-start;
    padding: 0 20px;
  }

  .bmi-title h3 {
    font-size: 30px;
  }

  .bmi-calculator-1 p {
    width: 353px;
  }

  .bmi-calculator-2-content {
    padding: 0 20px;
    flex-direction: column;
    justify-content: left;
  }

  .bmi-calculator-2-content h6 {
    width: 100%;
  }
  .chart {
    width: 100%;
  }
  .calculate {
    width: 100%;
  }
  .calculate-title {
    margin-top: -48px;
  }

  .calculate-description{
    width: 346px;
  }
  .inpt-1 {
    width: 77%;
  }
  .inpt-2 {
    width: 77%;
  }
  .inpt-3 {
    width: 77%;
  }

  .cal-btn {
    font-size: 20px;
    margin-top: 28px;
    padding: 8px 32px;
    margin-bottom: 48px;
  }

  /* part-2 start */

  .bmi-calculator-2 {
    max-width: 100%;
    background-color: rgba(34, 34, 34, 1);
    margin-top: 88px;
  }

  .bmi-calculator-2-content {
    display: flex;
    justify-content: space-between;
  }
  .chart {
    width: 50%;
    margin-bottom: 48px;
  }

  .chart-title {
    font-size: 27px;
    padding: 48px 0;
  }

  table,
  tr,
  th,
  td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
  }
  td {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    padding: 16px 25px;
  }
  th {
    padding: 16px 25px;
  }

  .calculate {
    width: 50%;
  }
  .calculate-title {
    font-size: 28px;
    padding-top: 48px;
  }
  .calculate-description {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 16px;
  }

  .calculate-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .inpt-5 {
    grid-column: 1 / span 2;
  }
  .cmn-inpt {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    margin-top: 13px;
    margin-right: 13px;
    color: rgba(255, 255, 255, 0.6);
    padding: 14px 16px;
  }
  .cal-btn {
    font-size: 18px;
    margin-top: 24px;
  }

  /* bmi end */

  /* meet start */

  .meet-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .meet-title h3 {
  }

  .meet-title p {
    margin-top: 14px;
    width: 350px;
    text-align: center;
  }
  .meet-images {
    margin: 48px auto;
    /* padding: 24px; */
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .img-1 {
    position: relative;
    margin: 0 auto;
    width: 80%;
  }

  .img-2 {
    position: relative;
    margin: 0 auto;
    width: 80%;
  }

  .img-3 {
    position: relative;
    margin: 0 auto;
    width: 80%;
  }

  .img-4 {
    position: relative;
    margin: 0 auto;
    width: 80%;
  }

  .img-5 {
    position: relative;
    margin: 0 auto;
    width: 80%;
  }

  .img-5 {
    position: relative;
    margin: 0 auto;
    width: 80%;
  }

  .img-6 {
    position: relative;
    margin: 0 auto;
    width: 80%;
  }

  /* meet end */

  /* footer start */
  footer {
    max-width: 1440px;
    /* height: 380px; */
   
  }

  .footer-container {
    margin-top: 88px;
    /* background: rgba(255, 255, 255, 0.1); */
    padding: 50px 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
  }

  .footer-1 {
    width: 50%;
  }

  .footer-1 p {
    width: 350px;
    margin-top: 20px;
  }

  .footer-2 {
    width: 100%;
    margin-top: 20px;
  }

  .footer-2-title {
    font-size: 25px;
  }

  .footer-2 ul li {
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
  }

  .footer-3 {
    width: 100%;
    margin-top: 20px;
  }

  .footer-3-title {
    font-size: 25px;
  }

  .footer-3 ul li {
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
  }

  .footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 32px;
  }
  /* footer end */
}
