/* font family */

/* inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* miama font */
@import url("https://fonts.cdnfonts.com/css/miama");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

/* Common styles */

body {
  background-color: rgba(17, 17, 17, 1);
  color: white;
  font-family: "Inter", sans-serif;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 78px;
  font-weight: 900;
}

h3 {
  font-size: 48px;
  font-weight: 900;
}

p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.primary-btn {
  padding: 16px 40px;
  /* padding: 16px 40px 16px 40px; */
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
  outline: none;
  color: white;
}

.secondary-btn {
  padding: 16px 40px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  /* border: none; */
  outline: none;
  background-color: black;
  color: white;
}

/* navbar start */
nav {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.nav-menu {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  align-items: center;
  padding: 4px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 47px;
}

nav ul li {
  list-style: none;
  padding: 8px 20px 8px 20px;
  border-radius: 20px;
}

nav ul li:first-child {
  background-color: rgb(230, 83, 60);
}

nav ul li:hover {
  background-color: rgb(230, 83, 60);
}

.nav-icon {
  display: none;
}

/* navbar end */

/* banner start */
.banner {
  width: 100%;
  display: flex;
}

.banner-text {
  width: 50%;
  margin-top: 96px;
}

.banner-text .miama {
  font-family: "Miama", sans-serif;
  font-size: 78px;
  font-weight: 900;
}

.banner-button {
  margin-top: 26px;
  display: flex;
  gap: 14px;
}

.banner-image {
  width: 50%;
  margin-top: 32px;
  margin-left: 160px;
  position: relative;
}

.item-1 {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  width: 193px;
  height: 98px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
  position: absolute;
  top: 128px;
  right: 40px;
  padding: 16px;
}

.num {
  font-size: 40px;
}

.num-title {
  font-size: 13px;
}

.item-2 {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  width: 193px;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 20px;
  position: absolute;
  bottom: 50px;
  left: -100px;
}

.circle {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}

.num-2 {
  font-size: 24px;
}

/* banner end */

/* Habit Section Start  */
.habit-container {
  margin-top: 100px;
}

.habit-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
}

.h-description {
  width: 671px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 14px;
}

.habit-content {
  margin-top: 58px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box-rounded img {
  box-sizing: border-box;
  border-radius: 50%;
}
.box-content {
  margin-top: 20px;
}

.box-1,
.box-2,
.box-3,
.box-4 {
  /* width: 25%; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.box-content p {
  margin-top: 6px;
  width: 231px;
}

/* Habit Section End  */

/* Run Section Start */

.run-container {
  margin-top: 101px;
  border-radius: 18px;
  background-color: rgb(34, 34, 34);
  display: flex;
  /* justify-content: space-between; */
}

.run-content {
  width: 50%;
  padding: 41px;
}

.run-content h3 {
  font-size: 48px;
  font-weight: 900;
}

.run-content p {
  width: 445px;
  margin-top: 14px;
  margin-bottom: 34px;
}

.run-btn {
}

.run-image {
  width: 50%;
  margin-top: 30px;
  padding-left: 100px;
}

.run-image img {
  width: 366px;
  height: 312px;
  border-radius: 18px;
  object-fit: none;
  object-position: 66% 28%;
}

/* Run Section End */

/* training start */
/* .training-container {
  margin-top: 100px;
} */

/* .training-title p {
  width: 671px;
  margin-top: 14px;
} */

/* .training-image {
 
  width: 100%;
  display: flex;
} */

/* .img-1 {
  width: 30%;
} */

/* .img-2 {
  width: 60%;
}

.img-3 {
  width: 10%;
} */

/* training end */

/* meet start */
.meet-container {
  margin-top: 88px;
}

.meet-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.meet-title p {
  margin-top: 14px;
  width: 690px;
  text-align: center;
}

.meet-images {
  margin: 48px auto;
  padding: 24px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.img-1 {
  position: relative;
}

.img-1 img {
  width: 100%;
  height: 280px;
  border-radius: 18px;
  opacity: 80%;
}

.img-text{
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.img-2 {
  position: relative;
 
}

.img-2 img {
  width: 100%;
  height: 280px;
  border-radius: 18px;
  opacity: 80%;
}

.img-3 {
  position: relative;
}

.img-3 img {
  width: 100%;
  height: 280px;
  border-radius: 18px;
  opacity: 80%;
}

.img-4 {
  position: relative;
}

.img-4 img {
  width: 100%;
  height: 280px;
  border-radius: 18px;
  opacity: 80%;
}

.img-5 {
  position: relative;
}

.img-5 img {
  width: 100%;
  height: 280px;
  border-radius: 18px;
  opacity: 80%;
}

.img-6 {
  position: relative;
}

.img-6 img {
  width: 100%;
  height: 280px;
  border-radius: 18px;
  opacity: 80%;
}

/* meet end */
